{% extends "base2.njk" %}


{% block styles %}
<link rel="stylesheet" href="./src/css/style.css" />
{%endblock %}
{% block scripts %}
    <script src="./src/js/search-header.js"></script>
    <script src="./src/js/tab-nav2.js"></script>
{% endblock %}


{% block content %}
    <section id="sec1">
    </section>
    <section id="sec2" hidden>
    </section>

    <script>
      var data = {{user | dump | safe}}
      var interests = {{interests_list | dump | safe}}


      localStorage.setItem("user", JSON.stringify(data));
    </script>
{% endblock %}