<article class="event-card" id="22">
	<div class="d-flex justify-content-start align-items-center">
		<img class="club-avatar" src="../assets/image.svg" alt="club avatar">
		<a href="clubPage.html">Computer Club</a>
	</div>
	<div class="event-card-body">
		<div>
			<h2>Event Title</h2>
			<div class="event-details d-flex flex-column gap-1">
				<div class="d-flex align-items-center gap-1">
					<img src="../assets/calendar-event.svg" alt="time">
					<datetime>DD/MM/YYYY</datetime>
				</div>
				<div class="d-flex align-items-center gap-1">
					<img src="../assets/clock-fill.svg" alt="time">
					<time>00:00:--</time>
				</div>
				<div class="d-flex align-items-center gap-1">
					<img src="../assets/geo-alt-fill.svg" alt="time">
					<span>#Building-#room</span>
				</div>
			</div>
		</div>
		<button type="button" class="btn-org btn btn-primary">View Event</button>
	</div>
</article>