<section id="search-assiss">
	<div class="collapse container-fluid" id="filter">
		<form class="d-flex flex-column gap-1">
			<fieldset class="form-group">
				<div class="btn justify-content-between" data-bs-toggle="collapse" data-bs-target="#date" aria-expanded="false" aria-controls="date">
					<span>Date</span>
					<img class="icon-hover" src="../assets/caret-down.svg" alt="down arrow">
				</div>
				<div>
					<input type="Date" name="date" id="date" class="collapse"/>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<div class="btn justify-content-between" data-bs-toggle="collapse" data-bs-target="#tags" aria-expanded="false" aria-controls="tags">
					<span>Tags</span>
					<img class="icon-hover" src="../assets/caret-down.svg" alt="down arrow">
				</div>
				<div id="tags">
					<div class="m-1">
						<input type="checkbox" name="Workshop" id="workshop" value="Workshop" class="btn-check" autocomplete="off"/>
						<label class="btn btn-outline-secondary" for="workshop">Workshop</label>
					</div>
					<div class="m-1">
						<input type="checkbox" name="Seminar" id="seminar" value="Seminar" class="btn-check" autocomplete="off"/>
						<label class="btn btn-outline-secondary" for="seminar">Seminar</label>
					</div>
					<div class="m-1">
						<input type="checkbox" name="Volunteer" id="volunteer" value="Volunteer" class="btn-check" autocomplete="off"/>
						<label class="btn btn-outline-secondary" for="volunteer">Volunteer</label>
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<div class="btn justify-content-between" data-bs-toggle="collapse" data-bs-target="#categories" aria-expanded="false" aria-controls="categories">
					<span>Categories</span>
					<img class="icon-hover" src="../assets/caret-down.svg" alt="down arrow">
				</div>
				<div id="categories">
					<div class="m-1">
						<input type="checkbox" name="Electrical Engineering" id="ee" value="Electrical Engineering" class="btn-check" autocomplete="off"/>
						<label class="btn btn-outline-secondary" for="ee">Electrical Engineering</label>
					</div>
					<div class="m-1">
						<input type="checkbox" name="Mechanical Engineering" id="me" value="Mechanical Engineering" class="btn-check" autocomplete="off"/>
						<label class="btn btn-outline-secondary" for="me">Mechanical Engineering</label>
					</div>
					<div class="m-1">
						<input type="checkbox" name="Computer Science" id="cs" value="Computer Science" class="btn-check" autocomplete="off"/>
						<label class="btn btn-outline-secondary" for="cs">Computer Science</label>
					</div>
					<div class="m-1">
						<input type="checkbox" name="Computer Engineering" id="coe" value="Computer Engineering" class="btn-check" autocomplete="off"/>
						<label class="btn btn-outline-secondary" for="coe">Computer Engineering</label>
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<div class="btn justify-content-between" data-bs-toggle="collapse" data-bs-target="#type" aria-expanded="false" aria-controls="type">
					<span>Type</span>
					<img class="icon-hover" src="../assets/caret-down.svg" alt="down arrow">
				</div>
				<select name="type" id="type" class="form-select form-select-sm">
					<option value="event" selected>Event</option>
					<option value="club">Club</option>
				</select>
			</fieldset>
			<div class="row m-3 gap-3">
				<input type="submit" value="Filter" class="col btn btn-primary" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter"/>
				<input type="button" value="Reset" class="col btn btn-danger" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter"/>
			</div>
		</form>
	</div>
	<div class="collapse container-fluid" id="sort">
		<div class="m-3">
			<select name="sortby" id="sortby" class="form-select form-select-sm">
				<option value="">---</option>
				<option value="newest">Newest</option>
				<option value="oldest">Oldest</option>
				<option value="nameAZ">Name [A-Z]</option>
				<option value="nameZA">Name [Z-A]</option>
				<option value="soonest">Soonest</option>
				<option value="furthest">Furthest</option>
			</select>
		</div>
	</div>
</section>